

body{
    background-color: #111;
    color: #fff;
}

h1{
    
    display: flex;
    text-decoration: none;
    font-size: 70px;
    font-weight: 600;
    top: 50vh;
    left: 50vw;
    color: #fff;
   align-items: center;
   justify-content: center;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px ;
}
